/* Sidebar */

.Nav-bar-container {
  width: 100%;
  background: linear-gradient(to bottom, #280453, #9c76cc);
  color: white;
  padding-right: 30px;
}

.mini-header {
  width: 100%;
  background: linear-gradient(to bottom, #7d51c1, #b980ff);
  padding-right: 30px;
  height: 80px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.sidebar-container {
  display: flex;
  font-family: Arial, sans-serif;
}

.sidebar {
  height: 100%;
  width: 250px;
  background: linear-gradient(to bottom, #7d51c1, #b980ff);
  color: white;
  padding: 20px;
}

.sidebar h2 {
  font-size: 18px;
  margin-bottom: 20px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sidebar li {
  padding: 10px;
  cursor: pointer;
  display: flex;
  gap: 10px;
}

/* Mini Header */

.mini-header h3 {
  font-size: 14px;
  color: #ecf0f1;
}

.staff-icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.staff-list {
  display: flex;
  align-items: center;
}
.ul-staff {
  list-style-type: none;
}
.mini-header-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.ri-notification-2-line {
  color: white;
}

.nav-bar-headings {
  display: flex;
  align-items: center;
  margin-left: 3rem;
  gap: 20px;
}
.client-info {
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  background: linear-gradient(to right, #e2dfdf 30%, #d1c5e0);

  border-radius: 2%;
  height: 75%;
}
.form-data {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10rem;
}
.sec-1 {
  margin-top: 2rem;
}
.labels {
  display: flex;
  flex-direction: column;
  gap: 13px;
  margin-top: 1rem;
}
.sec-2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.profile-pic {
  height: 11rem;
  width: 10rem;
  border-radius: 10%;
  object-fit: cover;
}

/* buttons */

.buttons-container {
  display: flex;
  gap: 1rem;
  margin-left: 3rem;
}

.button-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-btn {
  background: transparent;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
}

.active-line {
  width: 70%;
  height: 3px;
  background-color: white;
  margin-top: 2px;
  border: none;
}

.labels input {
  background-color: white;
  border: none;
  padding: 6px;
  font-size: 1rem;
  box-shadow: 0 8px 4px rgba(0, 0, 0, 0.1);
}

.labels input:focus {
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
}
.next {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}
.next-btn {
  height: 2rem;
  width: 7rem;
  background-color: blue;
  border: none;
  color: white;
  border-radius: 4px 4px;
}

.schedule-instructor {
  background-color: white;
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  border-radius: 6px 6px;
  border: 2px black;
}

.sidebar ul li.active {
  background: linear-gradient(to right, #efc3fa 30%, #b67efa);
  color: rgb(5, 5, 5);
}

.sidebar ul li.active-icon {
  color: rgb(14, 98, 167);
}
