.App {
  display: flex;
  width: 100%;
  flex-direction: column;
  background-color: rgba(231, 230, 230, 0.534);
}
.container {
  display: flex;
  flex: 1; 
}
.main-content{
  width: 100%;
  max-width: 1200px;
}
